body{
    background-color: #c8ad8f;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0px;
}

.img{
    background-image: url(img/foto.jpeg);
    width: 350px;
    background-size:contain;
    height: 350px;
    margin: auto auto;
    margin-top: 40px;
    position:relative;
    box-shadow: 5px 20px 20px 5px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
}

.img div{
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
}
.img div h1{
    color: rgb(255, 255, 255);
    margin: 5px;
}
.img div p{
    font-size: 18px;
    margin-left: 10px;
    color: aliceblue;
}

.desc{
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    border-radius: 0px 0 20px 20px ;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.356);
}
p{
    margin: 0;
    padding: 5px;
}
.redes{
    background-color: rgb(134, 65, 225);
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    text-align:center ;
    align-items: center;
    padding: 20px;
}
.instagram{
    color: white;
    text-decoration: none;
    position:relative;
    font-size: 30px;
    
}
